.htaccess
/var/cache/*
/var/session/*
/app/etc/local.xml
/affiliate/accounts/settings.php
/var/*
/var/locks/*
/var/log/*
/var/logging/*
/var/package/*
/var/report/*
/var/session/*
/media
/affiliate/accounts/default1/cache/templates/*
/media/catalog/product/cache/*
/media/news/cache/*
*.swp
*-bak*
*back1
*.swn
*.swo
/stats/
/stats/*
/media/news/cache/*
/media/tmp/*
.idea
.Ds_Store
