<config>
    <modules>
        <Infinitus_ThemeOptions>
            <version>0.1.0</version>
        </Infinitus_ThemeOptions>
    </modules>
    <frontend>
        <routers>
            <themeoptions>
                <use>standard</use>
                <args>
                    <module>Infinitus_ThemeOptions</module>
                    <frontName>themeoptions</frontName>
                </args>
            </themeoptions>
        </routers>
        <layout>
            <updates>
                <themeoptions>
                    <file>themeoptions.xml</file>
                </themeoptions>
            </updates>
        </layout>
    </frontend>
    
    <global>
        <models>
            <themeoptions>
                <class>Infinitus_ThemeOptions_Model</class>
            </themeoptions>
        </models>
        <blocks>
            <themeoptions_general>
                <class>Infinitus_ThemeOptions_Block</class>
            </themeoptions_general>
            <themeoptions_homepage><class>ThemeOptions_ExtraConfig_Block</class></themeoptions_homepage>  
            <themeoptions_theming><class>ThemeOptions_ExtraConfig_Block</class></themeoptions_theming>            
        </blocks>
        <helpers>
            <themeoptions>
                <class>Infinitus_ThemeOptions_Helper</class>
            </themeoptions>           
        </helpers>
    <events>
      <adminhtml_controller_action_predispatch_start>
        <observers>
          <infinitus_themeoptions_observer>
            <type>singleton</type>
            <class>Infinitus_ThemeOptions_Controller_Observer</class>
            <method>overrideTheme</method>
          </infinitus_themeoptions_observer>
        </observers>
      </adminhtml_controller_action_predispatch_start>      
    </events> 
	<resources>
        <infinitus_themeoptions_setup>
                <setup>
                    <module>Infinitus_ThemeOptions</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>          
        </infinitus_themeoptions_setup>
    </resources>           
    </global>
	<default>
		<themeoptions_general>
			<general_options>
				<responsive_layout>1</responsive_layout>
				<menu_type>default-menu</menu_type>
				<menu_stay_on_top>1</menu_stay_on_top>
				<gotop_button>1</gotop_button>
			</general_options>
			<prodcuts_list_page>
				<products_per_row>3</products_per_row>
				<thumb_width_3>230</thumb_width_3>
				<thumb_height_3>333</thumb_height_3>
				<thumb_width_4>170</thumb_width_4>
				<thumb_height_4>246</thumb_height_4>
				<shopping_options>0</shopping_options>
				<rating_wishlist_compare>1</rating_wishlist_compare>
				<new_product_label>0</new_product_label>
				<new_product_label_position>top-left</new_product_label_position>
				<sale_product_label>0</sale_product_label>
				<sale_product_label_position>top-left</sale_product_label_position>
				<image_product_hover>0</image_product_hover>
			</prodcuts_list_page>
			<prodcuts_details_page>
				<product_main_width>326</product_main_width>
				<product_main_height>370</product_main_height>
				<product_thumbnail_width>65</product_thumbnail_width>
				<product_thumbnail_height>74</product_thumbnail_height>
			</prodcuts_details_page>
		</themeoptions_general>
		<themeoptions_homepage>
			<homepage_gallery>
				<status>0</status>
				<homegalleryinfotype>1</homegalleryinfotype>
				<homegalleryproductstype>new</homegalleryproductstype>
				<homegalleryprodcutlimit>9</homegalleryprodcutlimit>
				<homegallery_products_carousel_circular>1</homegallery_products_carousel_circular>
				<homegallery_products_carousel_infinite>1</homegallery_products_carousel_infinite>
				<homegallery_products_carousel_scroll_items>1</homegallery_products_carousel_scroll_items>
				<homegallery_products_carousel_auto>1</homegallery_products_carousel_auto>
				<homegallery_products_carousel_easing>swing</homegallery_products_carousel_easing>
				<homegallery_products_carousel_duration>1000</homegallery_products_carousel_duration>
				<homegallery_products_carousel_pause>1</homegallery_products_carousel_pause>
				<!-- Home Slideshow -->
				<slideshow_type>2</slideshow_type>
				<!-- Slideshow 1 Config-->
				<homegallery_slideshow_1_circular>1</homegallery_slideshow_1_circular>
				<homegallery_slideshow_1_infinite>1</homegallery_slideshow_1_infinite>
				<homegallery_slideshow_1_scroll_items>1</homegallery_slideshow_1_scroll_items>
				<homegallery_slideshow_1_auto>1</homegallery_slideshow_1_auto>
				<homegallery_slideshow_1_easing>swing</homegallery_slideshow_1_easing>
				<homegallery_slideshow_1_duration>1000</homegallery_slideshow_1_duration>
				<homegallery_slideshow_1_pause>1</homegallery_slideshow_1_pause>
				<!-- Slideshow 2 Config-->	
				<homegallery_slideshow_default_fx>random</homegallery_slideshow_default_fx>
				<homegallery_slideshow_default_loader>random</homegallery_slideshow_default_loader>
				<!-- Slideshow 3 Config-->	
				<homegallery_slideshow_3_thumb>0</homegallery_slideshow_3_thumb>						
				<homegallery_slideshow_3_auto>1</homegallery_slideshow_3_auto>	
				<homegallery_slideshow_3_auto_timer>5000</homegallery_slideshow_3_auto_timer>	
				<homegallery_slideshow_3_type>fade</homegallery_slideshow_3_type>	
				<homegallery_slideshow_3_easing>swing</homegallery_slideshow_3_easing>									
			</homepage_gallery>
		</themeoptions_homepage>
		<themeoptions_homepage_content>
			<homepagecontent>
				<homerowamount>1</homerowamount>
				<homeinfostype_1_1>1</homeinfostype_1_1>
				<homecoltitle_1_1>New Product</homecoltitle_1_1>
				<homeproductstype_1_1>new</homeproductstype_1_1>
				<homesliderstype_1_1>1</homesliderstype_1_1>
				<productseachrow_1_1>4</productseachrow_1_1>
				<productsamount_1_1>10</productsamount_1_1>
				<homeinfostype_1_2>1</homeinfostype_1_2>
				<homecoltitle_1_2>New Product</homecoltitle_1_2>
				<homeproductstype_1_2>new</homeproductstype_1_2>
				<homesliderstype_1_2>1</homesliderstype_1_2>
				<productseachrow_1_2>4</productseachrow_1_2>
				<productsamount_1_2>10</productsamount_1_2>
				<homeinfostype_1_3>1</homeinfostype_1_3>
				<homecoltitle_1_3>New Product</homecoltitle_1_3>
				<homeproductstype_1_3>new</homeproductstype_1_3>
				<homesliderstype_1_3>1</homesliderstype_1_3>
				<productseachrow_1_3>4</productseachrow_1_3>
				<productsamount_1_3>10</productsamount_1_3>
			</homepagecontent>
		</themeoptions_homepage_content>		
		<themeoptions_theming>
			<theme_general>
				<heading_font></heading_font>
				<heading_color>#111111</heading_color>
				<text_color>#999999</text_color>
				<link_color>#818181</link_color>
				<active_color>#cb1550</active_color>	
				<wrapper_background_color>#FFFFFF</wrapper_background_color>
				<page_background_color>transparent</page_background_color>	
				<hc_background_color>transparent</hc_background_color>			
			</theme_general>
			<top_header_theme>
				<container_background_color>#FFFFFF</container_background_color>
				<inner_background_color>#FFFFFF</inner_background_color>
				<top_border_size>0</top_border_size>
				<top_border_color>#FFFFFF</top_border_color>
				<bottom_border_size>0</bottom_border_size>
				<bottom_border_color>#e4e4e4</bottom_border_color>	
				<text_color>#999999</text_color>
				<link_color>#818181</link_color>
				<active_color>#cb1550</active_color>
				<dropbox_background>#FFFFFF</dropbox_background>	
				<dropbox_text_color>#999999</dropbox_text_color>
				<dropbox_link_color>#818181</dropbox_link_color>
				<dropbox_link_hover_color>#cb1550</dropbox_link_hover_color>												
			</top_header_theme>		
			<header_theme>
				<container_background_color>#FFFFFF</container_background_color>
				<inner_background_color>#FFFFFF</inner_background_color>	
				<text_color>#999999</text_color>
				<link_color>#818181</link_color>
				<active_color>#cb1550</active_color>
				<dropbox_background>#FFFFFF</dropbox_background>	
				<dropbox_text_color>#999999</dropbox_text_color>
				<dropbox_link_color>#818181</dropbox_link_color>
				<dropbox_link_hover_color>#cb1550</dropbox_link_hover_color>												
			</header_theme>
			<nav_theme>
				<navigation_height>60</navigation_height>
				<container_background_color>#000000</container_background_color>
				<inner_background_color>transparent</inner_background_color>
				<nav_bg_color>transparent</nav_bg_color>
				<top_border_size>0</top_border_size>
				<top_border_color>#111111</top_border_color>
				<bottom_border_size>0</bottom_border_size>
				<bottom_border_color>#878787</bottom_border_color>	
				<top_space_size>10</top_space_size>
				<bottom_space_size>10</bottom_space_size>		
				<link_color>#ffffff</link_color>	
				<hover_color>#ffffff</hover_color>	
				<hover_bg_color>#cb1550</hover_bg_color>	
				<active_color>#ffffff</active_color>	
				<active_bg_color>#cb1550</active_bg_color>						
			</nav_theme>
			<content_theme>
				<container_background_color>transparent</container_background_color>
				<inner_background_color>transparent</inner_background_color>	
				<heading_color>#111111</heading_color>
				<text_color>#999999</text_color>
				<link_color>#818181</link_color>	
				<hover_color>#cb1550</hover_color>	
				<active_color>#cb1550</active_color>	
			</content_theme>
			<footer_theme>
				<container_background_color>transparent</container_background_color>
				<inner_background_color>transparent</inner_background_color>	
				<top_border_size>3</top_border_size>
				<top_border_color>#111111</top_border_color>
				<heading_color>#111111</heading_color>
				<text_color>#999999</text_color>
				<link_color>#818181</link_color>	
				<hover_color>#cb1550</hover_color>	
			</footer_theme>
			<copyright_box_theme>
				<container_background_color>#1F1F1F</container_background_color>
				<inner_background_color>transparent</inner_background_color>	
				<text_color>#999999</text_color>
				<link_color>#818181</link_color>	
				<hover_color>#cb1550</hover_color>	
			</copyright_box_theme>																			
		</themeoptions_theming>		

	</default>
</config>