<?xml version="1.0"?>
<config>
    <modules>
        <Infinitus_ProductVideo>
            <version>1.0.0</version>
        </Infinitus_ProductVideo>
    </modules>

    <global>
    	<models>
            <productvideo>
				<class>Infinitus_ProductVideo_Model</class>
                <resourceModel>productvideo_resource</resourceModel>
			</productvideo>
            <productvideo_resource>
                <class>Infinitus_ProductVideo_Model_Resource</class>
                <entities>
                    <videos>
                        <table>infinitus_youtube_videos</table>
                    </videos>
                </entities>
            </productvideo_resource>
    	</models>
    	
        <resources>
            <productvideo_setup>
             	<setup>
                    <module>Infinitus_ProductVideo</module>
					<class>Infinitus_ProductVideo_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productvideo_setup>
            <productvideo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productvideo_write>
            <productvideo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productvideo_read>
        </resources>
        
        <helpers>
			<productvideo>
				<class>Infinitus_ProductVideo_Helper</class>
			</productvideo>
        </helpers>
        
        <blocks>
            <productvideo>
            	<class>Infinitus_ProductVideo_Block</class>
            </productvideo>
            
            <catalog>
            	<rewrite>
            		<product_view_media>Infinitus_ProductVideo_Block_Product_View_Media</product_view_media>
            	</rewrite>
            </catalog>
            <adminhtml>
				<rewrite>
					<catalog_product_edit_tabs>Infinitus_ProductVideo_Block_Rewrite_AdminhtmlCatalogProductEditTabs</catalog_product_edit_tabs>
				</rewrite>
			</adminhtml>
        </blocks>
        
        <events>
			<catalog_product_save_after>
				<observers>
					<productvideo>
						<type>singleton</type>
						<class>productvideo/observer</class>
						<method>catalog_product_save_after</method>
					</productvideo>
				</observers>
			</catalog_product_save_after>
        </events>
    </global>
    
    <frontend>
        <translate>
            <modules>
                <Infinitus_ProductVideo>
                    <files>
                        <default>Infinitus_ProductVideo.csv</default>
                    </files>
                </Infinitus_ProductVideo>
            </modules>
        </translate>
        <layout>
			<updates>
				<productvideo>
					<file>productvideo.xml</file>
				</productvideo>
			</updates>
		</layout>
    </frontend>
    
    <admin>
        <routers>
            <productvideo_admin>
                <use>admin</use>
                    <args>
                        <module>Infinitus_ProductVideo</module>
                        <frontName>productvideo</frontName>
                    </args>
            </productvideo_admin>
        </routers>
    </admin>
    
    <adminhtml>
		<layout>
            <updates>
                <productvideo>
					<file>productvideo.xml</file>
				</productvideo>
			</updates>
		</layout>
	</adminhtml>
    
    <default>
    	<infinitus_productvideo>
        	<settings>
        		<status>0</status>
				<default_thumb_width>100</default_thumb_width>
				<default_thumb_height>80</default_thumb_height>
				<default_width>425</default_width>
				<default_height>344</default_height>
        	</settings>
        </infinitus_productvideo>
    </default>
</config>