<?xml version="1.0"?>
<config>
    <modules>
        <Infinitus_AjaxScroll>
            <version>1.0.0</version>
        </Infinitus_AjaxScroll>
    </modules>
    <global>
        <helpers>
            <ajaxscroll>
                <class>Infinitus_AjaxScroll_Helper</class>
            </ajaxscroll>
        </helpers>
        <models>
            <ajaxscroll>
                <class>Infinitus_AjaxScroll_Model</class>
            </ajaxscroll>
        </models>
		<events>
			<catalog_product_collection_load_before>
				<observers>
					<ajaxscroll_catalog_observer>
						<type>singleton</type>
						<class>Infinitus_AjaxScroll_Model_Catalog_Observer</class>
						<method>modifyCollection</method>
					</ajaxscroll_catalog_observer>
				</observers> 
			</catalog_product_collection_load_before> 
			<catalog_product_collection_load_after>
				<observers>
					<ajaxscroll_catalog_observer>
						<type>singleton</type>
						<class>Infinitus_AjaxScroll_Model_Catalog_Observer</class>
						<method>restoreCollection</method>
					</ajaxscroll_catalog_observer>
				</observers> 
			</catalog_product_collection_load_after> 
		</events>
    </global>
    <frontend>
        <routers>
            <ajaxscroll>
                <use>standard</use>
                <args>
                    <module>Infinitus_AjaxScroll</module>
                    <frontName>ajaxscroll</frontName>
                </args>
            </ajaxscroll>
        </routers>
        <layout>
            <updates>
                <ajaxscroll>
                    <file>ajaxscroll.xml</file>
                </ajaxscroll>
            </updates>
        </layout>
    </frontend>
	<default>
		<themeoptions_general>
			<prodcuts_list_page>
				<ajax_scroll>0</ajax_scroll>
			</prodcuts_list_page>
		</themeoptions_general>
    </default>
</config>